cms-tb/src/jsp/xml/ogre.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT root     (root, type, dataset+, tree+)>
<!ELEMENT type     (#PCDATA)>

<!ELEMENT dataset  (name, location, file+)>
<!ELEMENT name     (#PCDATA)>
<!ELEMENT location (#PCDATA)>

<!ELEMENT file     (run, nevents, dataset, filename, energy, beam, runtype, eta, phi, date, time)>
<!ELEMENT run      (#PCDATA)>
<!ELEMENT nevents  (#PCDATA)>
<!ELEMENT dataset  (#PCDATA)>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT energy   (#PCDATA)>
<!ELEMENT beam     (#PCDATA)>
<!ELEMENT runtype  (#PCDATA)>
<!ELEMENT eta      (#PCDATA)>
<!ELEMENT phi      (#PCDATA)>
<!ELEMENT date     (#PCDATA)>
<!ELEMENT time     (#PCDATA)>

<!ELEMENT tree     (branch, formula*, name, id)>
<!ELEMENT name     (#PCDATA)>
<!ELEMENT id       (#PCDATA)>

<!ELEMENT branch   (name, leaf+, id)>
<!ELEMENT name     (#PCDATA)>
<!ELEMENT id       (#PCDATA)>

<!ELEMENT leaf     (name, title, labely, labelx, id)>
<!ELEMENT name     (#PCDATA)>
<!ELEMENT title    (#PCDATA)>
<!ELEMENT labely   (#PCDATA)>
<!ELEMENT labelx   (#PCDATA)>
<!ELEMENT id       (#PCDATA)>

<!ELEMENT formula  (name, title, labely, labelx, id)>
<!ELEMENT name     (#PCDATA)>
<!ELEMENT title    (#PCDATA)>
<!ELEMENT labely   (#PCDATA)>
<!ELEMENT labelx   (#PCDATA)>
<!ELEMENT id       (#PCDATA)>
